In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv('Bank Churn dataset.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Dropping the first 3 columns as it is of no use for prediction.

In [3]:
data.drop(['RowNumber','CustomerId','Surname'],inplace=True,axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
def print_unique_value(df):
    for column in df:
        if df[column].dtypes=='object':
            print(f'{column}:{df[column].unique()}')

In [5]:
print_unique_value(data)

Geography:['France' 'Spain' 'Germany']
Gender:['Female' 'Male']

In [6]:
data['Gender']=data['Gender'].replace({'Female':0,'Male':1})

In [7]:
data=pd.get_dummies(data=data,columns=['Geography'])

In [8]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [9]:
data.shape

(10000, 13)

In [10]:
x=data.drop('Exited',axis=1).values
y=data['Exited'].values

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.25)

In [12]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [13]:
import tensorflow as tf
from tensorflow import keras
model=keras.models.Sequential([
    keras.layers.Dense(6,input_shape=(12,),activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')])
model.compile(optimizer='adam',
             loss='binary_crossentropy',
             metrics=['accuracy'])
model.fit(x_train,y_train,epochs=100)

Epoch 1/100
235/235 [==============================] - 0s 508us/step - loss: 0.6089 - accuracy: 0.6729
Epoch 2/100
235/235 [==============================] - 0s 507us/step - loss: 0.4792 - accuracy: 0.8023
Epoch 3/100
235/235 [==============================] - 0s 507us/step - loss: 0.4429 - accuracy: 0.8069
Epoch 4/100
235/235 [==============================] - 0s 507us/step - loss: 0.4277 - accuracy: 0.8117
Epoch 5/100
235/235 [==============================] - 0s 500us/step - loss: 0.4171 - accuracy: 0.8189
Epoch 6/100
235/235 [==============================] - 0s 511us/step - loss: 0.4078 - accuracy: 0.8231
Epoch 7/100
235/235 [==============================] - 0s 511us/step - loss: 0.3983 - accuracy: 0.8284
Epoch 8/100
235/235 [==============================] - 0s 536us/step - loss: 0.3896 - accuracy: 0.8353
Epoch 9/100
235/235 [==============================] - 0s 740us/step - loss: 0.3818 - accuracy: 0.8416
Epoch 10/100
235/235 [==============================] - 0s 695us/step - loss: 0.3753 - accuracy: 0.8468
Epoch 11/100
235/235 [==============================] - 0s 522us/step - loss: 0.3695 - accuracy: 0.8473
Epoch 12/100
235/235 [==============================] - 0s 504us/step - loss: 0.3649 - accuracy: 0.8496
Epoch 13/100
235/235 [==============================] - 0s 537us/step - loss: 0.3609 - accuracy: 0.8499
Epoch 14/100
235/235 [==============================] - 0s 567us/step - loss: 0.3576 - accuracy: 0.8536
Epoch 15/100
235/235 [==============================] - 0s 635us/step - loss: 0.3551 - accuracy: 0.8553
Epoch 16/100
235/235 [==============================] - 0s 571us/step - loss: 0.3526 - accuracy: 0.8560
Epoch 17/100
235/235 [==============================] - 0s 531us/step - loss: 0.3511 - accuracy: 0.8561
Epoch 18/100
235/235 [==============================] - 0s 503us/step - loss: 0.3495 - accuracy: 0.8572
Epoch 19/100
235/235 [==============================] - 0s 535us/step - loss: 0.3484 - accuracy: 0.8568
Epoch 20/100
235/235 [==============================] - 0s 737us/step - loss: 0.3475 - accuracy: 0.8575
Epoch 21/100
235/235 [==============================] - 0s 564us/step - loss: 0.3465 - accuracy: 0.8565
Epoch 22/100
235/235 [==============================] - 0s 502us/step - loss: 0.3459 - accuracy: 0.8577
Epoch 23/100
235/235 [==============================] - 0s 510us/step - loss: 0.3454 - accuracy: 0.8577
Epoch 24/100
235/235 [==============================] - 0s 495us/step - loss: 0.3447 - accuracy: 0.8581
Epoch 25/100
235/235 [==============================] - 0s 527us/step - loss: 0.3445 - accuracy: 0.8573
Epoch 26/100
235/235 [==============================] - 0s 508us/step - loss: 0.3443 - accuracy: 0.8571
Epoch 27/100
235/235 [==============================] - 0s 605us/step - loss: 0.3439 - accuracy: 0.8569
Epoch 28/100
235/235 [==============================] - 0s 686us/step - loss: 0.3434 - accuracy: 0.8579
Epoch 29/100
235/235 [==============================] - 0s 541us/step - loss: 0.3432 - accuracy: 0.8573
Epoch 30/100
235/235 [==============================] - 0s 503us/step - loss: 0.3428 - accuracy: 0.8577
Epoch 31/100
235/235 [==============================] - 0s 511us/step - loss: 0.3426 - accuracy: 0.8591
Epoch 32/100
235/235 [==============================] - 0s 507us/step - loss: 0.3423 - accuracy: 0.8581
Epoch 33/100
235/235 [==============================] - 0s 503us/step - loss: 0.3421 - accuracy: 0.8591
Epoch 34/100
235/235 [==============================] - 0s 505us/step - loss: 0.3420 - accuracy: 0.8599
Epoch 35/100
235/235 [==============================] - 0s 500us/step - loss: 0.3419 - accuracy: 0.8600
Epoch 36/100
235/235 [==============================] - 0s 519us/step - loss: 0.3416 - accuracy: 0.8591
Epoch 37/100
235/235 [==============================] - 0s 614us/step - loss: 0.3418 - accuracy: 0.8595
Epoch 38/100
235/235 [==============================] - 0s 633us/step - loss: 0.3415 - accuracy: 0.8601
Epoch 39/100
235/235 [==============================] - 0s 597us/step - loss: 0.3413 - accuracy: 0.8599
Epoch 40/100
235/235 [==============================] - 0s 546us/step - loss: 0.3412 - accuracy: 0.8600
Epoch 41/100
235/235 [==============================] - 0s 504us/step - loss: 0.3410 - accuracy: 0.8607
Epoch 42/100
235/235 [==============================] - 0s 516us/step - loss: 0.3409 - accuracy: 0.8603
Epoch 43/100
235/235 [==============================] - 0s 516us/step - loss: 0.3410 - accuracy: 0.8611
Epoch 44/100
235/235 [==============================] - 0s 499us/step - loss: 0.3407 - accuracy: 0.8601
Epoch 45/100
235/235 [==============================] - 0s 511us/step - loss: 0.3407 - accuracy: 0.8605
Epoch 46/100
235/235 [==============================] - 0s 500us/step - loss: 0.3407 - accuracy: 0.8595
Epoch 47/100
235/235 [==============================] - 0s 506us/step - loss: 0.3405 - accuracy: 0.8604
Epoch 48/100
235/235 [==============================] - 0s 519us/step - loss: 0.3405 - accuracy: 0.8616
Epoch 49/100
235/235 [==============================] - 0s 698us/step - loss: 0.3403 - accuracy: 0.8600
Epoch 50/100
235/235 [==============================] - 0s 578us/step - loss: 0.3403 - accuracy: 0.8615
Epoch 51/100
235/235 [==============================] - 0s 516us/step - loss: 0.3402 - accuracy: 0.8599
Epoch 52/100
235/235 [==============================] - 0s 736us/step - loss: 0.3399 - accuracy: 0.8616
Epoch 53/100
235/235 [==============================] - 0s 587us/step - loss: 0.3401 - accuracy: 0.8611
Epoch 54/100
235/235 [==============================] - 0s 526us/step - loss: 0.3402 - accuracy: 0.8605
Epoch 55/100
235/235 [==============================] - 0s 494us/step - loss: 0.3398 - accuracy: 0.8603
Epoch 56/100
235/235 [==============================] - 0s 494us/step - loss: 0.3399 - accuracy: 0.8617
Epoch 57/100
235/235 [==============================] - 0s 498us/step - loss: 0.3398 - accuracy: 0.8619
Epoch 58/100
235/235 [==============================] - 0s 499us/step - loss: 0.3396 - accuracy: 0.8607
Epoch 59/100
235/235 [==============================] - 0s 499us/step - loss: 0.3397 - accuracy: 0.8616
Epoch 60/100
235/235 [==============================] - 0s 494us/step - loss: 0.3396 - accuracy: 0.8627
Epoch 61/100
235/235 [==============================] - 0s 494us/step - loss: 0.3395 - accuracy: 0.8624
Epoch 62/100
235/235 [==============================] - 0s 505us/step - loss: 0.3393 - accuracy: 0.8613
Epoch 63/100
235/235 [==============================] - 0s 499us/step - loss: 0.3396 - accuracy: 0.8620
Epoch 64/100
235/235 [==============================] - 0s 509us/step - loss: 0.3394 - accuracy: 0.8627
Epoch 65/100
235/235 [==============================] - 0s 494us/step - loss: 0.3393 - accuracy: 0.8617
Epoch 66/100
235/235 [==============================] - 0s 493us/step - loss: 0.3392 - accuracy: 0.8628
Epoch 67/100
235/235 [==============================] - 0s 494us/step - loss: 0.3392 - accuracy: 0.8615
Epoch 68/100
235/235 [==============================] - 0s 491us/step - loss: 0.3391 - accuracy: 0.8621
Epoch 69/100
235/235 [==============================] - 0s 512us/step - loss: 0.3389 - accuracy: 0.8609
Epoch 70/100
235/235 [==============================] - 0s 494us/step - loss: 0.3391 - accuracy: 0.8629
Epoch 71/100
235/235 [==============================] - 0s 492us/step - loss: 0.3390 - accuracy: 0.8616
Epoch 72/100
235/235 [==============================] - 0s 511us/step - loss: 0.3389 - accuracy: 0.8632
Epoch 73/100
235/235 [==============================] - 0s 562us/step - loss: 0.3390 - accuracy: 0.8633
Epoch 74/100
235/235 [==============================] - 0s 535us/step - loss: 0.3389 - accuracy: 0.8621
Epoch 75/100
235/235 [==============================] - 0s 556us/step - loss: 0.3386 - accuracy: 0.8617
Epoch 76/100
235/235 [==============================] - 0s 533us/step - loss: 0.3387 - accuracy: 0.8619
Epoch 77/100
235/235 [==============================] - 0s 507us/step - loss: 0.3387 - accuracy: 0.8631
Epoch 78/100
235/235 [==============================] - 0s 507us/step - loss: 0.3386 - accuracy: 0.8621
Epoch 79/100

235/235 [==============================] - 0s 511us/step - loss: 0.3388 - accuracy: 0.8628
Epoch 80/100
235/235 [==============================] - 0s 507us/step - loss: 0.3385 - accuracy: 0.8615
Epoch 81/100
235/235 [==============================] - 0s 506us/step - loss: 0.3386 - accuracy: 0.8623
Epoch 82/100
235/235 [==============================] - 0s 541us/step - loss: 0.3384 - accuracy: 0.8628
Epoch 83/100
235/235 [==============================] - 0s 507us/step - loss: 0.3385 - accuracy: 0.8628
Epoch 84/100
235/235 [==============================] - 0s 524us/step - loss: 0.3384 - accuracy: 0.8631
Epoch 85/100
235/235 [==============================] - 0s 592us/step - loss: 0.3384 - accuracy: 0.8621
Epoch 86/100
235/235 [==============================] - 0s 545us/step - loss: 0.3382 - accuracy: 0.8629
Epoch 87/100
235/235 [==============================] - 0s 507us/step - loss: 0.3383 - accuracy: 0.8613
Epoch 88/100
235/235 [==============================] - 0s 507us/step - loss: 0.3383 - accuracy: 0.8633
Epoch 89/100
235/235 [==============================] - 0s 505us/step - loss: 0.3381 - accuracy: 0.8621
Epoch 90/100
235/235 [==============================] - 0s 508us/step - loss: 0.3380 - accuracy: 0.8632
Epoch 91/100
235/235 [==============================] - 0s 520us/step - loss: 0.3380 - accuracy: 0.8627
Epoch 92/100
235/235 [==============================] - 0s 522us/step - loss: 0.3380 - accuracy: 0.8636
Epoch 93/100
235/235 [==============================] - 0s 520us/step - loss: 0.3380 - accuracy: 0.8636
Epoch 94/100
235/235 [==============================] - 0s 515us/step - loss: 0.3379 - accuracy: 0.8617
Epoch 95/100
235/235 [==============================] - 0s 529us/step - loss: 0.3376 - accuracy: 0.8631
Epoch 96/100
235/235 [==============================] - 0s 512us/step - loss: 0.3379 - accuracy: 0.8629
Epoch 97/100
235/235 [==============================] - 0s 508us/step - loss: 0.3378 - accuracy: 0.8628
Epoch 98/100
235/235 [==============================] - 0s 507us/step - loss: 0.3376 - accuracy: 0.8623
Epoch 99/100
235/235 [==============================] - 0s 511us/step - loss: 0.3378 - accuracy: 0.8633
Epoch 100/100
235/235 [==============================] - 0s 546us/step - loss: 0.3377 - accuracy: 0.8632

In [14]:
y_p=model.predict(x_test)
y_p[:10]

array([[0.3108533 ],
       [0.36067405],
       [0.17701459],
       [0.0634189 ],
       [0.06571457],
       [0.8520377 ],
       [0.02832195],
       [0.08493018],
       [0.26692262],
       [0.8250638 ]], dtype=float32)

In [15]:
y_pred=[]
for element in y_p:
    if element>0.5:
        y_pred.append(1)
    else: 
        y_pred.append(0)

In [16]:
y_pred[:10]

[0, 0, 0, 0, 0, 1, 0, 0, 0, 1]

In [17]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[1892,   99],
       [ 252,  257]], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score 
ac=accuracy_score(y_test,y_pred)
ac

0.8596

In [19]:
tf.math.confusion_matrix(y_test,y_pred)

<tf.Tensor: shape=(2, 2), dtype=int32, numpy=
array([[1892,   99],
       [ 252,  257]])>

# Thank You !!