In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('matches.csv')
data.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [3]:
np.unique(data[['team1','team2']])

array(['Chennai Super Kings', 'Deccan Chargers', 'Delhi Capitals',
       'Delhi Daredevils', 'Gujarat Lions', 'Kings XI Punjab',
       'Kochi Tuskers Kerala', 'Kolkata Knight Riders', 'Mumbai Indians',
       'Pune Warriors', 'Rajasthan Royals', 'Rising Pune Supergiant',
       'Rising Pune Supergiants', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

- Replacing Deccan Chargers with Sunrisers Hyderabad
- Replacing Delhi Daredevils with Delhi Capitals
- Replacing Rising Pune Supergiants with Rising Pune Supergiant

In [4]:
data=data.replace({'Deccan Chargers':'Sunrisers Hyderabad','Delhi Daredevils':'Delhi Capitals',
                   'Rising Pune Supergiants':'Rising Pune Supergiant'})

In [5]:
np.unique(data[['team1','team2']])

array(['Chennai Super Kings', 'Delhi Capitals', 'Gujarat Lions',
       'Kings XI Punjab', 'Kochi Tuskers Kerala', 'Kolkata Knight Riders',
       'Mumbai Indians', 'Pune Warriors', 'Rajasthan Royals',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad'], dtype=object)

### Top 10 cities in which maximum matches are played ?

In [6]:
city_most_played=data['city'].value_counts()[:10]
city_most_played

Mumbai        101
Kolkata        77
Delhi          74
Bangalore      66
Hyderabad      64
Chennai        57
Jaipur         47
Chandigarh     46
Pune           38
Durban         15
Name: city, dtype: int64

In [ ]:
sns.barplot(x=city_most_played.index,y=city_most_played.values)
plt.xticks(rotation='vertical')
plt.title('Cities in which maximum matches are played ')

### Matches played by each team..

In [ ]:
matches_each=data['team1'].value_counts() + data['team2'].value_counts()
matches_each_update=matches_each.sort_values(ascending=False)
matches_each_update

In [ ]:
sns.barplot(x=matches_each_update.index,y=matches_each_update.values)
plt.xticks(rotation='vertical')
plt.title('Matches played by each team ')

### Matches won by each team

In [ ]:
winner=data['winner'].value_counts()
winner

In [ ]:
sns.barplot(x=winner.index,y=winner.values)
plt.xticks(rotation='vertical')
plt.title('Matches won by each team ')

### Percentage of matches won by each team

In [ ]:
percentage= (winner/matches_each_update)*100
percentage_final=percentage.sort_values(ascending=False)
percentage_final

In [ ]:
sns.barplot(x=percentage_final.index,y=percentage_final.values)
plt.xticks(rotation='vertical')
plt.title('Percentage of matches won by each team ')

### Toss win by each team...

In [ ]:
toss_winner=data['toss_winner'].value_counts()
toss_winner

In [ ]:
sns.barplot(x=toss_winner.index,y=toss_winner.values)
plt.xticks(rotation='vertical')
plt.title('No. of toss wins by each team ')

### Toss win by each Team and what decision they took

In [ ]:
sns.countplot(x='toss_winner',hue='toss_decision',data=data)
plt.xticks(rotation='vertical')
plt.title('Toss won by each team and what decision they took')

### Pie chart of overall decision of field vs bat

In [ ]:
toss_decision=data['toss_decision'].value_counts()
toss_decision

In [ ]:
plt.pie(toss_decision.values,labels=toss_decision.index,autopct='%1.1f%%',startangle=90)
plt.title('Overall trend of bat vs field')

### Top 10 players who became man of the match most number of times...

In [ ]:
player_match=data['player_of_match'].value_counts()[:10]
player_match

In [ ]:
sns.barplot(x=player_match.values,y=player_match.index)
plt.title('Player with most number of man of the match')

### Top 5 teams who bat first and won the match

In [ ]:
bat_won=data[(data['win_by_runs']!=0)& (data['win_by_wickets']==0)]
bat_won['winner'].value_counts()[:5]

In [ ]:
sns.barplot(x=bat_won['winner'].value_counts()[:5].values,y=bat_won['winner'].value_counts()[:5].index)
plt.title('Top 5 team who bat first and won the game')

### Top 5 teams who ball first and won the game

In [ ]:
ball_won=data[(data['win_by_wickets']!=0) & (data['win_by_runs']==0)]
ball_won['winner'].value_counts()[:5]

In [ ]:
sns.barplot(x=ball_won['winner'].value_counts()[:5].values,y=ball_won['winner'].value_counts()[:5].index)

#                                     MI vs CSK comparison

In [ ]:
matches_cskvsmi = data[(data['team1']=='Mumbai Indians') & (data['team2']=='Chennai Super Kings') |(data['team1']=='Chennai Super Kings') & (data['team2']=='Mumbai Indians') ]
len(matches_cskvsmi.index)

### Toss win percentage

In [ ]:
matches_cskvsmi['toss_winner'].value_counts()

In [ ]:
plt.pie(matches_cskvsmi['toss_winner'].value_counts(),labels=matches_cskvsmi['toss_winner'].value_counts().index,
        autopct='%1.1f%%',startangle=90)
plt.title('Toss Won by each team ')

### Toss win and what decision they take

In [ ]:
sns.countplot(x='toss_winner',hue='toss_decision',data=matches_cskvsmi)
plt.title('Decision they took after winning the toss')

### Percentage of matches won by each team

In [ ]:
matches_cskvsmi['winner'].value_counts()

In [ ]:
plt.pie(matches_cskvsmi['winner'].value_counts().values,labels=matches_cskvsmi['winner'].value_counts().index,
       autopct='%1.1f%%',startangle=90)
plt.title('Percentage of matches won by each team ')

### Top 10 umpires in the IPL

In [ ]:
umpire=data['umpire1'].value_counts()+data['umpire2'].value_counts()+data['umpire3'].value_counts()
umpire_update=umpire.sort_values(ascending=False)[:10]
umpire_update

In [ ]:
sns.barplot(x=umpire_update.values,y=umpire_update.index)
plt.title('Top 10 umpires in the IPL')